<div class="big-wraper-image">
		<div class="col-width-20">
			<div class="league-logo mb-2" *ngIf="team">
				<img src="assets/Shakhtar.svg" alt="">
				<h2>{{team.ukrName}}</h2>
				<p class="seasons">Сезон 2017/2018</p>
				<span class="subscribe">Стежити</span>
			</div>
			<ul class="side-menu">
				<li><a routerLinkActive="active" routerLink="playrs">Scores & Fixtures</a></li>
				<li><a routerLinkActive="active" routerLink="players">Склад команди</a></li>
				<li><a routerLinkActive="active" routerLink="playrs">Таблиця</a></li>
				<li><a routerLinkActive="active" routerLink="playrs">Історія</a></li>
				<li><a routerLinkActive="active" routerLink="playrs">Статистика</a></li>
				<li><a routerLinkActive="active" routerLink="playrs">Новини</a></li>
			</ul>
		</div>
		<div class="col-width-60">
			<div class="info-block">
				<div class="item-info">
					<span>Останні новини</span>
					<p>Фінал Ліги Чемпіонів в Києві</p>
				</div>
				<div class="item-info">
					<span>Тип турніру</span>
					<p>Регулярний чемпіонат</p>
				</div>
				<div class="item-info">
					<span>Лідер</span>
					<p>Шахтар</p>
				</div>
				<div class="item-info">
					<span>Кількість команд</span>
					<p>12 команд</p>
				</div>
				<div class="item-info">
					<span>Тип турніру</span>
					<p>Регулярний чемпіонат</p>
				</div>
			</div>
			<router-outlet></router-outlet>
			
		</div>
		<div class="col-width-20">
			<clubs-table-list></clubs-table-list>
		</div>
	</div>