<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<!-- <div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Registered users ({{users.length}})</h4>
  <div class="card-block">
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="users.length === 0">
        <tr>
          <td colspan="4">There are no registered users.</td>
        </tr>  
      </tbody>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.role}}</td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="deleteUser(user)" [disabled]="auth.currentUser._id === user._id">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>  
      </tbody>
    </table>
  </div>
</div> -->
<div class="d-flex flex-column flex-md-row align-items-center p-1 px-md-4  bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Admin</h5>
    <nav class=" my-md-0 mr-md-3">
      <!-- <a class="p-2 text-dark" routerLinkActive="active" routerLink="/listresurses" >List</a> -->
      <!-- <a class="p-2 text-dark" routerLinkActive="active" routerLink="/favorites" >Favorites</a> -->
      <a class="p-2 text-dark" routerLinkActive="active" routerLink="players/list" >Players</a>
      <a class="p-2 text-dark" routerLinkActive="active" routerLink="matches/list" >Matches</a>
      <a routerLink="/login" class="nav-item nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
        <i class="fa fa-sign-in"></i> Login
      </a>
     
    </nav>
  </div>
<router-outlet></router-outlet>