
.info-block {
    height: 400px;
    padding-top:150px;
}
.league-logo {
    margin: 150px auto;
    width: 130px;
    img{
        width:  100%;
    }
    h2 {
        color: #fff;
        margin-top: 20px;
        text-align: center;
    }
}
.content-block {
    min-height: 600px;
    background: #fff;
    border-radius: 3px 3px 0 0;
    .header-block {
        padding: 0 25px;
        border-bottom: 3px solid rgb(248,248,248);
        overflow: hidden;
        h3{
            font-size: 20px;
            line-height: 70px;
            margin-bottom: 0;
            float: left;
        }
        .tabs-content {
            float: left;
            margin-left: 50px;
            margin-bottom: 0;
            li {
                float: left;
                margin-right: 40px;
                line-height: 70px;
                font-weight: 500;
                list-style: none;
                text-transform: uppercase;
            }
        }
    }
    .sub-header-block{
        background: rgb(252,252,252);
        border-bottom: 3px solid rgb(248,248,248);
        padding: 15px 30px;
        h3{
            font-size: 20px;
        }
    }
}
.item-player{ 
    padding: 0 30px;
    line-height:40px;
    margin-top:5px;
}
