<h1>RESURSES<button class="btn" (click)="mapResurses()">MAP</button></h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Teams</th>
        <th scope="col">Resurses</th>
        <th scope="col">1%</th>
        <th scope="col">x%</th>
        <th scope="col">2%</th>
        <th scope="col">Prediction</th>
        <th scope="col">Correct Score</th>
        <th scope="col">propabilityOver</th>
        <th scope="col">resmatch</th>
        <th scope="col">avarage Goal</th>
        <th scope="col">simpleRecords</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let res of resurses;let i = index" >
        <th scope="row">{{i+1}}</th>
        <td><a [routerLink]="[res.item['_id']]">{{res.item.team1}} - {{res.item.team2}}</a></td>
        <td>{{res.item.resurse}}</td>
        <td>{{res.item.propability1}}</td>
        <td>{{res.item.propabilityX}}</td>
        <td>{{res.item.propability2}}</td>
        <td>{{res.item.prediction}}</td>
        <td>{{res.item.correctScore}}</td>
        <td>{{res.item.propabilityOver}}</td>
        <td>{{res.item.resmatch}}</td>
        <td>{{res.item.avarageGoal}}</td>
        <td>{{res.simples.length}}</td>
      </tr>
    </tbody>
  </table>