.league-logo {
    margin: 180px auto;
    width: 200px;
}
.league-logo img{
    max-width:  100%;
}
.challenge-item {

}
.challenge-name {
    line-height: 41px
}
.count {
    line-height: 41px;
    font-size: 18px;
}
.col-width-20{
    width: 20%;
    float: left;
   
}
.col-width-60{
    width: 60%;
    float: left;
}
.big-wraper-image{
    min-height: 500px;
    overflow: hidden;
    background-color: #0c1122;
}
.info-block {
    height: 400px;
    padding-top:150px;
}
.content-block {
    min-height: 600px;
    background: #fff;
    border-radius: 3px 3px 0 0;
    .header-block {
        padding: 0 25px;
        border-bottom: 3px solid rgb(248,248,248);
        overflow: hidden;
        h3{
            font-size: 20px;
            line-height: 70px;
            float: left;
        }
        .tabs-content {
            float: left;
            margin-left: 50px;
            margin-bottom: 0;
            li {
                float: left;
                margin-right: 40px;
                line-height: 70px;
                font-weight: 500;
                list-style: none;
                text-transform: uppercase;
            }
        }
    }
    .sub-header-block{
        background: rgb(252,252,252);
        border-bottom: 3px solid rgb(248,248,248);
        padding: 15px 25px;
        h3{
            font-size: 20px;
        }
    }
}
.item-info {
    width: 33%;
    float: left;
    margin-bottom: 50px;
    span {
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        color: #62687d;
    }
    p {
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        color: #f6f6f6;
    }
}