<h1>{{this.match.team1}} - {{this.match.team2}}</h1>

<h3>List same prediction</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Teams</th>
      <th scope="col">Resurses</th>
      <th scope="col">1%</th>
      <th scope="col">x%</th>
      <th scope="col">2%</th>
      <th scope="col">Prediction</th>
      <th scope="col">Correct Score</th>
      <th scope="col">avarage Goal</th>
      <th scope="col">RESULT</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let res of sameRes;let i = index" >
      <th scope="row">{{i+1}}</th>
      <td><a [routerLink]="[res['_id']]">{{res.team1}} - {{res.team2}}</a></td>
      <td>{{res.resurse}}</td>
      <td>{{res.propability1}}</td>
      <td>{{res.propabilityX}}</td>
      <td>{{res.propability2}}</td>
      <td>{{res.prediction}}</td>
      <td>{{res.correctScore}}</td>
      <td>{{res.avarageGoal}}</td> 
      <td><b>{{res.resmatch}}</b></td>
    </tr>
  </tbody>
</table>

