<div class="row">
  <div class="col-lg-12">
    <div class="jumbotron text-center">
      <div class="container" *ngIf="match">
        <h1 class="jumbotron-heading mb-3" *ngIf="!(team1 && team2)" >{{match.team1}} - {{match.team2}}</h1>
        <h1 *ngIf="(team1 && team2)">
            <a [routerLink]="['../../clubs',team1['_id']]">{{match.team1}}</a> - 
            <a [routerLink]="['../../clubs',team2['_id']]">{{match.team2}}</a>
            <span class="u-icon-v1  g-mr-15 g-mb-15" (click)="addToFavorite()" [ngClass]="{'g-color-lightred': match.isFavorite, 'g-color-primary': !match.isFavorite}">
              <i class="icon-star"></i>
            </span>
          </h1>
        <h3 class="mb-2">Prediction : {{match.prediction}}</h3>
        <button class="btn btn-lg btn-outline-success" 
          (click) = "addClubs({'team1': match.team1, 'team2': match.team2})"
          [disabled] = "team1 && team2">Save Clubs</button>
        <p *ngIf="hintwise">
          <span *ngFor="let result of hintwise.last5home" class="u-icon-v3 g-mr-15 g-mb-15" [ngClass]="{'g-bg-red ': result == 'L', 'g-bg-primary': result == 'W', 'g-bg-orange': result == 'D'}"><i>{{result}}</i></span>
          -
          <span *ngFor="let result of hintwise.last5away"class="u-icon-v3 g-mr-15 g-mb-15" [ngClass]="{'g-bg-red ': result == 'L', 'g-bg-primary': result == 'W', 'g-bg-orange': result == 'D'}"><i>{{result}}</i></span>
        </p>
      </div>
    </div>
    <div>
      <h3 class="mb-3">List same prediction</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" class="teams">Teams</th>
            <th scope="col">Resurses</th>
            <th scope="col">1%</th>
            <th scope="col">x%</th>
            <th scope="col">2%</th>
            <th scope="col">Prediction</th>
            <th scope="col">Correct Score</th>
            <th scope="col">avarage Goal</th>
            <th scope="col">propabilityOver</th>
            <th scope="col">RESULT</th>
            <th scope="col">individualPredition</th>
            <th scope="col">SystemPredition</th>
            <th scope="col">SystemPreditionStatus</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let res of sameRes;let i = index" >
            <th scope="row">{{i+1}}</th>
            <td><a [routerLink]="[res['_id']]">{{res.team1}} - {{res.team2}}</a></td>
            <td>{{res.resurse}}</td>
            <td>{{res.propability1}}</td>
            <td>{{res.propabilityX}}</td>
            <td>{{res.propability2}}</td>
            <td>{{res.prediction}}</td>
            <td>{{res.correctScore}}</td>
            <td>{{res.avarageGoal}}</td>
            <td>{{res.propabilityOver}}</td> 
            <td><b>{{res.resmatch}}</b></td>
            <td><b>{{res.individualPredition}}</b></td>
            <td><b>{{res.systemPredicion}}</b></td>
            <td><b>{{res.systemPredicionStatus}}</b></td>
            <td>  <button class="btn btn-outline-success" 
              *ngIf="canAddSimpleClubNames(res.team1,res.team2)"
              (click) = "saveSimpleNames(res.team1,res.team2)">Add</button> </td> 
            <td>  <button class="btn btn-outline-success" 
              (click) = "saveResult(res)">save Result</button> </td> 
            <td>  <button class="btn btn-outline-success" 
              *ngIf="res.resurse == 'statarea'"
              (click) = "setToControllerR(res.resmatch)">Set</button> </td> 
        </tr>
        </tbody>
      </table>
      <h3>Propability list :</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Teams</th>
              <th scope="col">Resurses</th>
              <th scope="col">1%</th>
              <th scope="col">x%</th>
              <th scope="col">2%</th>
              <th scope="col">Prediction</th>
              <th scope="col">Correct Score</th>
              <th scope="col">avarage Goal</th>
              <th scope="col">propabilityOver</th>
              <th scope="col">RESULT</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let res of propabilityObjs;let i = index" >
              <th scope="row">{{i+1}}</th>
              <td><a [routerLink]="['../',res['_id']]">{{res.team1}} - {{res.team2}}</a></td>
              <td>{{res.resurse}}</td>
              <td>{{res.propability1}}</td>
              <td>{{res.propabilityX}}</td>
              <td>{{res.propability2}}</td>
              <td>{{res.prediction}}</td>
              <td>{{res.correctScore}}</td>
              <td>{{res.avarageGoal}}</td>
              <td>{{res.propabilityOver}}</td> 
              <td><b>{{res.resmatch}}</b></td>
              <td>  <button class="btn btn-outline-success" 
                *ngIf="canAddSimpleClubNames(res.team1,res.team2)"
                (click) = "saveSimpleNames(res.team1,res.team2)">Add simple</button> </td> 
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>